DB_HOST=postgres
DB_DATABASE=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_ENGINE=django.db.backends.postgresql
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DEBUG=

#FOR THE BELOW USERNAME AND PASSWORD, SET THAT TO WHAT YOU SIGN UP WITH ON OTHER NODES WITH
#WHATEVER YOU ENTER BELOW, THIS IS WHAT YOU HAVE TO SETUP YOUR CREDENTIALS WITH ON ANY NODE
DODGERBLUE_NODE_USERNAME=
DODGERBLUE_NODE_PASSWORD=

#SET THIS TO CYBERA'S DNS WITH THE HTTP ATTACHED
NODEHOSTNAME=

#PRODUCTION WILL BE 80 ALWAYS BUT REMOVE IT ON LOCAL TO KEEP DOCKER SERVING ON 5000
EXPOSED_PORT=80