.admin-page {
    padding: 1.5rem 1.5rem 1.5rem 2.75rem;
}

.admin-page-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
  .admin-page-title {
      justify-content: center;
  }
}

