.layout {
    display: flex;
    min-height: 100vh;
    color: #F3F4F6;
    background-color: #111827;
    box-sizing: border-box;
}

.content-area {
    flex: 1;
    padding: 20px;
    padding-bottom: 80px; 
}

@media screen and (min-width: 768px) {
    .layout {
        flex-direction: row;
    }
    
    .content-area {
        margin-left: 200px; 
        padding-bottom: 20px; 
        width: calc(100% - 200px); 
    }
}
