.layout{
    display: flex; 
    flex-direction: column; 
    
    color: #F3F4F6; 
    background-color: #111827; 

}
@media screen and (min-width: 768px) {
   
    .layout {
        flex-direction: row;
        justify-content: space-around;
    }
    .other{
        justify-self: center;
    }
}