:root {
  --primaryBlue: #57659e;
  --secondaryBlue: #a7a2c1;
}
p {
  margin: 0;
}
.content-area {
  padding: 0 !important;
}
#github {
  color: rgb(139, 138, 148);
}
#github:link {
  color: #ffffff;
}
.cover-wrapper {
  background-color: var(--primaryBlue);
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.cover-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.info-subwrapper {
  display: flex;
  gap: 1rem;
  border-bottom: solid #ffffff;
  padding: 1rem;
}
#profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid var(--secondaryBlue);
}

.info-names-wrapper {
  margin-top: 2rem;
}
#displayname {
  font-family: "Karantina";
  font-size: 3rem;
  color: #ffffff;
  word-break: break-all;
}
.info-names-subwrapper {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Inter";
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.button {
  width: 10rem;
  height: 2rem;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: auto;
  transition: all 0.5s ease-in-out;
}
.button > p {
  text-align: center;
  font-size: 18px;
  color: var(--secondaryBlue);
  -webkit-text-stroke-width: 1px;
  border: none;
}
.button:hover:enabled {
  background-color: rgb(57, 67, 108);
  transition: all 0.5s ease-in-out;
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#edit-btn {
  text-decoration: none;
}
.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  #profile-image {
    height: 200px;
    width: 200px;
  }
  #edit-btn-icon {
    height: 50px;
    width: 50px;
  }

  .info-wrapper {
    display: flex;
    gap: 10px;
    margin: 0 20px;
    width: 70%;
  }

  #displayname {
    font-size: 96px;
  }
  .info-names-subwrapper {
    font-size: 24px;
  }
  .button {
    width: 200px;
    height: 50px;
    margin: auto 0;
  }
  .button > p {
    font-size: 32px;
  }
}
