/* .user-feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 2rem;
  max-width: 500px;
  margin: 0 auto;
  background-color: #111827;
}
@media screen and (min-width: 768px) {
  .user-feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
  }
  .infinite-scroll-component {
    max-width: 1200px !important;
  }
  .post-container {
    width: 90% !important;
  }
} */
/* TODO: This needs to be changed by have the class name
.post-container for some reason its messing with the homepage.
Suggested solution is to instead have some prop passed into the post 
component and then conditionally add a class*/