.profile-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.error-text {
  text-align: center;
}
.content-area {
  padding: 0 !important;
}
.user-feed-container {
  padding-top: 2rem;
}
